main {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.post {
  max-width: 100%;
  text-align: center;
  padding: 2vmin;
  margin: 2vmin;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  color: black;
  border-collapse: collapse;
}

.title {
  color: black;
}
.content {
  min-height: 30vh;
  display: flex;
  gap: 2vmin;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}
.formDaddy {
  background-color: gray;
  background: url("https://c0.wallpaperflare.com/preview/639/306/330/aerial-background-blog-cafe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.button:hover .svgIcon {
  width: 50px;
  transition-duration: 0.3s;
  transform: translateY(60%);
}

.button::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: 0.3s;
}

.newPost {
  display: flex;
  padding-top: 10vmin;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#postBody {
  height: 20vmin;
}
#title {
  height: 10vmin;
}

.postForm {
  display: flex;
  flex-direction: column;
  padding: 3vmin;
  justify-content: space-around;
  width: 50vmin;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  height: 70%;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}
input,
textarea {
  font-size: 3.5vmin;
}
#file {
  font-size: 2vmin;
  height: 5vmin;
}

.submit {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 1em 2em;
  border: none;
  border-radius: 0.6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.submit span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: 0.6s ease;
}

.submit span:nth-child(6) {
  position: relative;
}

.submit span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.submit span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.submit span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}

.submit span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.submit span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.submit:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}

.edit {
  padding: 1.5vmin 3vmin;
  border-radius: 50px;
  background: #0c66ed;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.2s;
}
.edit:hover {
  background-color: black;
}
.editForm {
  height: 10vmin;
  width: 100%;

  padding: 1.5vmin 3vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#postBody {
  height: 7vmin;
  flex-grow: 1;
  border-radius: 10px;
}
.postImage {
  max-width: 70%;
  aspect-ratio: 3/2;
}
